includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon
parameters:
    level: 4
    paths:
        - src
        - tests
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:

